/* change these */

@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
    --main-color: #0A0A0A;
    --nav-color: #1C1C1C;
    --link-color: #C72425;
    --link-hover-color: #B3B3B3;
    --color-4: #3A76DE;
    --color-5: #fff;

    --display-font: "Lexend Deca", serif;
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Droid Serif", serif;
    --main-text-color: #fff;

    --white-space: 1rem;
}

body {
    background-color: var(--main-color);
}

/*button {
    transition: all 3s;
}*/

a {
    transition: all 3s;
    text-decoration: underline;
}

/*button:hover {
    background-color: var(--link-hover-color);
    transform: scale(3) rotate(40deg);
}

button:active {
    background-color: var(--bg-color);
}*/

a:hover {
    color: var(--color-4);

}

html {
    font-size: 100%;
    font-family: var(--primary-font);
}

img {
    max-width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(2 * var(--white-space));
}

.full-width {
    background: var(--nav-color);
    color: white;
    width: 100%;
}

.header-wrapper h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-right: 0.75em;
    font-weight: bold;
    color: white;
}

.header-wrapper h2 {
    font-size: 2em;
    color: var(--link-color);
    font-weight: bold;
    margin: var(--white-space) 0;
    font-family: var(--display-font);
    letter-spacing: 1px;
}

.header-wrapper h3 {
    font-size: 1.2rem;
    font-style: italic;
}

.header-wrapper h4 {
    font-size: 0.8rem;
}

main {
    padding: calc(2 * var(--white-space));

}

section {
    margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
    font-style: italic;
    font-size: 1.3rem;
    color: #777;
    margin: 0.5rem 0;
}

ul {
    display: flex;
    justify-content: space-between;
}

.swatches li {
    border: solid 1px white;
    margin-right: 5vw;
    height: 15vw;
    width: 20%;
}

ul li:last-child {
    margin-right: 0;
}

.color-swatch-1 {

    background-color: var(--bg-color);
}

.color-swatch-2 {
    background-color: var(--link-color);
}

.color-swatch-3 {
    background-color: var(--color-4);



}

.color-swatch-4 {
    background-color: var(--link-hover-color);



}

.color-swatch-5 {
    background-color: var(--color-5);
}

.textures li {
    height: auto;
    width: 100%;
    margin-right: 5vw;
}


.images ul {
    flex-direction: column;
    text-align: center;
}

.images li {
    display: block;
    /*margin-right: 5vw;*/
    margin-bottom: 1rem;
}

.primary-button {
    padding: 1rem;
     background: transparent;
    text-align: center;
    text-decoration: none;
    font: bold 1.25em/1 var(--display-font);
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 1rem 1rem 0;
     overflow: hidden;
  transition: all .5s;
      position: relative;
}


.primary-button:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: var(--link-color);
  z-index: -1;
  transform: translate3D(0,-100%,0);
  transition: all .5s;
}

.primary-button:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}
.slide:after{
  top: 0;
  z-index: -1;
  transform: translate3D(-101%,0,0);
}

.slide:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}


.secondary-button {
    padding: 1rem;
     background: transparent;
    text-align: center;
    text-decoration: none;
    font: bold 1.25em/1 var(--display-font);
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 1rem 1rem 0;
  transition: all .5s;
      position: relative;
}



.secondary-button:hover {
      color: white;
  background: var(--color-4);

}

.textures > img {
    padding: 1rem;
}
/*button:focus,
button:active,
button:focus-within {
    outline: 0;
    border-radius: 4px;
}*/

.typography-main {
    color: var(--main-text-color);
}

.h1-sample {
    font-size: 2.4rem;
    font-family: var(--display-font);
    color: var(--link-color);
}

.h2-sample {
    font-family: var(--display-font);
    font-size: 1.25rem;
    color: var(--main-text-color);
     font-weight: bold;
}

p.typography-sample {
    font-family: var(--primary-font);
    line-height: 1.5;
    max-width: 960px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    font-family: var(--primary-font);
    color: var(--link-hover-color);

    transition: all 0.2s;
}

p[class*="font-details-"] {
    margin-top: 0.5rem;
    margin-bottom: calc(2 * var(--white-space));
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

.adjectives ul {
    font-size: 2rem;
    opacity: 0.5;
}

.adjectives ul {
    flex-direction: column;
}

footer {
    font-style: italic;
}

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .swatches li {
        margin-right: 3%;
        height: 10vw;
        width: 20%;
    }

    .textures li {
        height: 15vw;
    }
}

@media (min-width: 900px) {
    .adjectives ul {
        flex-direction: row;
    }
}
